@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Grotesk:wght@500;700&display=swap');
@import "tailwindcss";

@theme {
  --color-azul-noite: #1A1A2E;
  --color-vermelho-urbano: #E94560;
  --color-lilas-claro: #E8E8F4;
  --color-cinza-texto: #444444;
  --font-display: "Space Grotesk", sans-serif;
  --font-sans: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-cinza-texto font-sans;
}

button,
a {
  @apply cursor-pointer;
}
